.navigation{
    display: flex;
}

.links{
    text-decoration: none;
    color: #000;
}
.menu_btn{
    position: relative;
    display: none;
}

@media(max-width: 768px){
    .menu_btn{
        display: block;
        cursor: pointer;
        position: relative;
    }
    #open_link{
        position: absolute;
        right: 0;
        top: 8vh;
        background-color: #fff;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        z-index: 1000;
        width: 100%;
    }
    .navigation{
        display: none;
    }
}